* text=auto eol=lf

*.cs       text eol=lf diff=csharp
*.csproj   text eol=lf
*.sln      text eol=crlf
*.props    text eol=lf
*.targets  text eol=lf
*.yml      text eol=lf
*.yaml     text eol=lf
*.md       text eol=lf
*.json     text eol=lf

*.png  binary
*.jpg  binary
*.ico  binary
*.gif  binary
